[submodule "minisat"]
	path = minisat
	url = git@github.com:michaelballantyne/minisat.git
[submodule "minisat-c-bindings"]
	path = minisat-c-bindings
	url = git@github.com:michaelballantyne/minisat-c-bindings.git
